<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Libros_Detalle</title>
</head>
<body>
    
    <h1>Informacion del Libro</h1>

    <p>ISBN: {{object.isbn}}</p>
    <p>Idioma: {{object.idioma}}</p>
    <p>Titulo: {{object.titulo}}</p>
    <p>Fecha de Publicacion: {{object.fecha_publicacion}}</p>
    <p>Clasificacion: {{object.clasificacion}}</p>
    <p>
        <a href="{% url 'Lista' %}">Regresar</a>
    </p>

</body>
</html>